
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
* { box-sizing: border-box;}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: hsl(240, 75%, 98%);
    background: url("./images/bg-curve-mobile.svg") bottom no-repeat;   
    background-size: 700% 71%;
    z-index: -1;    
    color: hsl(243, 87%, 12%);
}
 
main {
    display: grid;
    grid-template-columns: 1rf;
}
header {
    margin-bottom: 10vh;
    padding: 6.46% 6.46% 0 6.46%;
}
.toplogo {
   float: left;
    width: 21.6%;
    height: auto;
}
.head {
    float: right;
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 65%;
    margin-right: 6.46%;
}
header>.head>a {
    display: block;
    text-decoration: none;
    font-size: 4vw;
    margin-inline: 5.1% 0%;
    color: hsl(243, 87%, 12%);
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.illustration  {
    display: block;
    width: 90%;
    height: auto;
    margin-inline: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 6vw; 
    font-weight:700;
    text-align: center;
    margin: 5vh 0 3vh 0;
}


section {
    padding-inline:6.46%;   
}

.section1>p {
    font-size: 4vw;
    text-align: center;
    line-height: 136%;
    margin-bottom: 3vh;
    font-family: 'Open Sans', sans-serif;
}

.emailarea {
    display: inline;
    padding: 1em;
    width: 95%;
    font-size: 3vw;
    border-radius: 0.3em;
    border: 1px solid hsl(238, 22%, 44%);
    margin:3vh auto 2vh auto;
    box-shadow: 1vw 1vw 2vw hsl(243, 87%, 12%, 10%);
}

.emailarea::placeholder {
    color: hsl(243, 87%, 12%, 20%);
}

.getstarted {
    display: inline;
    width: 95%;
    padding: 1em;
    font-size: 3vw;
    border-radius: 0.3em;
    margin-inline: auto;
    background-color: hsl(224, 93%, 58%);
    border: 0;
    color: white;
    box-shadow: 1vw 1vw 2vw hsl(238, 22%, 44%, 30%);
}
.getstarted:hover {
    background-color: hsl(221, 100%, 71%);
    cursor: pointer;
}

.section2>.illustration {
    margin-top: 10vh;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw; 
    font-weight:700;
    text-align: center;
    margin: 7vh 0 2vh 0;
}

.section2>p {
    color: hsl(238, 22%, 44%);
    font-size: 4vw;
    line-height: 136%;
    margin-bottom: 3vh;
    font-family: 'Open Sans', sans-serif;
}

.see {
   font-family: 'Open Sans', sans-serif;
   display: block;
   margin: auto;
   text-align: center;
   color: hsl(170, 45%, 43%);
   text-decoration: none;
   border-bottom: 1px solid hsl(170, 45%, 43%);
   font-size: 3vw;
   padding: 0.5em 0;
   width:fit-content;
}

.see>img {
    margin:0 0 -0.4em 0.5em;
    width: 5vw;
    height: 5vw;

}
article {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 6vh auto 12vh auto;
    background-color: white;
    width: 85.8%;
    height: auto;
    padding: 3em;
    font-size: 2.5vw;
    line-height: 185%;
    box-shadow: 0vw 0vw 4vw hsl(0, 0%, 75%, 40%);
    border-radius: 1.5vw;  
}

.quotes {
    width: 4vw;
    height: auto;   
}
.foto {
    width: 7vw;
    height: auto; 
    border-radius: 7vw;  
}

.kyle {
    display: grid;
    grid-template-columns: auto 70%;
    align-items: center;
    width: 100%;
    justify-content: left;
    margin-top: 1vh;
}

h4 {
    margin: 0 auto 0 5%;
    font-size: 2.5vw; 
    line-height: 150%;
}
h5 {
    margin: 0 auto 0 5%;
    font-size: 2vw;
    line-height: 150%; 
    color: hsl(243, 87%, 12%, 60%);
}

.section3 {
    background-color: hsl(238, 22%, 44%);
    color: white;
    text-align: center;
}

h3 {
    font-size: 5vw; 
    margin: 8vh auto 3vh auto;
}
.section3>div>p {
    font-size: 4vw;
    line-height: 136%;
}
.section3>form {
    width: 80%;
    margin: auto auto 8vh auto;
}

 .section4 {
    background-color: hsl(243, 87%, 12%);
    color: white;
}
.botlogo {
    width: 47%;
    height: auto;
    margin: 8vh auto 3vh 0;
    filter: invert(70%) brightness(250%) grayscale(100%);
    max-width: 150px;
}
h6 {
    font-size: 4vw;    
    font-weight: 400;
    margin: 1vh auto 2vh 0;
}
h6>span>img {
    margin: 0 5vw -0.5vh 0;
    width: 5vw;
    height: auto;
}
.contacts {
    margin-bottom: 5vh;
}
.info {
   display: grid;
    grid-template-columns: auto;
    font-size: 3.5vw;    
    font-weight: 400;
    line-height:200%;
    margin: 4vh auto 4vh auto;
}
.section4>div>a {
    color: white;
    text-decoration: none;
    margin: 0.5vh auto 0.5vh 0;
}
.social>a>img {
    width: 6vw;
    height: auto;
    filter: invert(98%);
}

.social {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 3vw;
    margin-bottom: 6vh;
}
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }


  @media screen and (min-width:900px) {
   
header {
    margin-bottom: 1.5vh;
    padding: 5.556% 0 5.556% 5.556%;
}
.toplogo {width: 11.53%;}
header>a:link {}
header>a:visited {}
header>a:hover {filter: invert(40%) sepia(50%) saturate(5) hue-rotate(220deg);}
header>a:active {}

.head {margin-right: 5.556%;}
header>.head>a:link {font-size: 1.2vw;}  

header>.head>a:visited {}
header>.head>a:hover {text-shadow: 0 0.2vw 1vw hsl(241, 79%, 60%, 100%);}
header>.head>a:active {}

.illustration  {
    width: 50%;
    float: right;
}

h1, h2, h3 {
    text-align: left;
    font-size: 2.5vw; 
}

section {
    padding-inline:5.56%;   
}

.section1>p {
    font-size: 1.33vw;
    text-align: left;
    line-height: 140%;
    margin-bottom: 1vh;
}

.emailarea {
    display: inline-block;
    width: 24%;
    font-size: 1vw;
    margin: 1vh 1vw 2vh 0;
    box-shadow: 0.2vw 0.2vw 0.5vw hsl(243, 87%, 12%, 20%);
}

.getstarted {
    display: inline-block;
    width: 16%;
    font-size: 1vw;
    box-shadow: 0.2vw 0.2vw 0.5vw hsl(243, 87%, 12%, 20%);
}
.getstarted:hover {
    background-color: hsl(221, 100%, 71%);
    cursor: pointer;
}

.section2>.illustration {
    margin-top: 10vh;
}

h2 {
    margin: 7vh 0 2vh 0;
}

.section2>p {
    font-size: 1.1vw;
    text-align: left;
    line-height: 150%;
    margin-bottom: 1vh;
    color:  hsl(243, 87%, 12%);
    width: 40%;
}

.see {
   display: inline-block;
   font-size: 1.2vw;
   text-align: left;
}
  
a.see:link {}
a.see:visited {}
a.see:hover {
background-image: linear-gradient(hsl(170, 45%, 43%, 0%), hsl(170, 45%, 43%, 10%));}
a.see:active {}
.see>img {
    margin:0 0 -0.25em 0.5em;
    width: 1.5vw;
    height: 1.5vw;
}

article {
    border-radius: 0.5vw;
    box-shadow: 0vw 0vw 1vw hsl(0, 0%, 75%, 40%);
    width: 30%;
    margin: 6vh auto 12vh 0;
    font-size: 1vw;
    padding: 2em;
}

.quotes {width: 1.2vw;}
.foto {width: 2vw;}

h4 {font-size: 0.8vw;}
h5 {font-size: 0.6vw;}

.section2::after {
    content: "";
    clear: both;
    display: block;
}

.section3 {
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 10%;
}

.section3>div>p {
    font-size: 1.1vw;
    text-align: left;
    line-height: 150%;
}
.section3>form {margin: 8vh auto;}

.section3>form>input {
    display: block;
    width: 100%;
    box-shadow: 0.2vw 0.2vw 0.5vw hsl(243, 87%, 12%, 30%);
}

.section3>form>button {
    width: 40%;
    margin-left: 0;
    display: block;
    font-size: 1vw;
    box-shadow: 0.2vw 0.2vw 0.5vw hsl(243, 87%, 12%, 30%);
}

.section4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.botlogo {width: 40%;}
.botlogo:hover {
filter: invert(30%) sepia(50%) saturate(44) hue-rotate(235deg) brightness(200%);      
}
.social>a:hover {
filter: invert(50%) sepia(50%) saturate(74) hue-rotate(230deg) brightness(200%);  
}
h6 {
    font-size: 1.2vw;   
    margin: 1vh auto 2vh 0;
}
h6>span>img {
    margin: 0 1vw -0.2vh 0;
    width: 1.2vw;
}
.contacts {
    margin-bottom: 15vh;
}
.info {
    display: grid;
    grid-template-columns: auto;
    line-height:150%;
    margin: 16.5vh auto 6vh auto;  
    font-size: 1.2vw; 
    align-content: start;
}

.social>a>img {width: 2vw;}

.social {
    align-self: center;
    justify-self: center;
    column-gap: 1vw;
    margin: 3vh auto 3vh auto;
}


.section4>div>a:link {}
.section4>div>a:visited {}
.section4>div>a:hover {color: #BCBAF9;}
.section4>div>a:active {}

  }/*media*/


  @media screen and (min-width:1441px) {
   
    header {
        margin-bottom: 1.5vh;
        padding: 3% 10% 0% 10%;
    }
    .toplogo {width: 11.53%; max-width: 180px;}
    .head {margin-right: 5%;}                               /* NOOOOOOOOOO*/
    header>.head>a:link {font-size: 1.2rem;}  
   
    .illustration  {max-width: 800px;}
    
    h1, h2, h3 {font-size: 2.5rem;}
    
    section {padding-inline:10%;}
    
    .section1>p {font-size: 1.33rem; margin-bottom: 3vh;}
    
    .emailarea {font-size: 1rem;}
    
    .getstarted {font-size: 1rem;}

    .section2>p {font-size: 1.1rem;}
    
    .see {font-size: 1.2rem;}

    .see>img {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    article {font-size: 1rem;}
    
    .quotes {width: 1.2rem;}

    .section3>div>p {font-size: 1.1rem;}
    
    .section3>form>button {font-size: 1rem;}

    .botlogo {max-width: 150px;}
    h6 {font-size: 1.2rem;}      
    h6>span>img {width: 1.2rem;}

    .info {font-size: 1.2rem;}
    
    .social>a>img {width: 2rem;}
    
  }
    